body {
    font-family: monospace;
    text-align: center;
    background-color: #ffecec;
    padding-top: 60px; 
}

h1 {
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

h2, p {
    margin: 20px;
}

img {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    body {
        padding-top: 110px; 
    }
}